.span-battery {
  background-color: #ffffff;
  display: inline-block;
  border-radius: 8px;
  margin-left: 5px;
  height: 28px;
  padding-top: 1px;
}

.span--step1 {
  color: #e70303;
}

.span--step2 {
  color: #e78c03;
}

.span--step3 {
  color: #e7d003;
}

.span--step4 {
  color: #03e729;
}

.timer__wrapper {
  display: flex;
  justify-content: center;
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #faebd7;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 14px;
}

.value {
  font-size: 24px;
}
